*{
    -fx-darkpurple : #4F2E37;
    -fx-darkred : #A5413F;
    -fx-darkorange : #E86740;
    -fx-lightorange: #F99446;
    -fx-pink : #FF008A;
    -fx-lightgreen :  #08FC77;
    -fx-lightblue : #06BCFF;
    -fx-purple:  	#A10080;
    -fx-orange: #FF9E06;
}

.main-header{
    -fx-background-color: -fx-lightgreen;
}
.background{
    -fx-background-color: ivory;
}