*{
    -fx-darkpurple : #4F2E37;
    -fx-darkred : #A5413F;
    -fx-darkorange : #E86740;
    -fx-orange: #F99446;
    -fx-lightorange: #F99446;
}

.bar{
    -fx-background-color: linear-gradient(to right, -fx-darkpurple 23%, -fx-darkred 27%);

}
.button-bar{
    -fx-background-color: linear-gradient(to right, green 30%, red 30%);;
}
.katamino-frame{
    -fx-background-color: -fx-lightorange;
    -fx-height: "%100";
    -fx-width: "%75";
}  